﻿<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <link href="~/Content/site.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container">

            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            @await Component.InvokeAsync("CategoryMenu")
                            <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                            @await Component.InvokeAsync("ShoppingCartSummary")
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="row">
                <div class="col-md-3">
                    <p class="lead">
                        <img class="img-responsive" alt="Bethany's Pie Shop'" src="~/Images/bethanylogo.png" />
                    </p>
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
            @RenderSection("Scripts", required: false)
        </div>
    </body>

</html>
